.menu {
  text-decoration: none;
}

.starter {
  padding-left: 30px;
}
.wrapper {
  border: 1px solid rgb(235, 93, 93);
  width: 500px;
  height: 600px;
  padding-top: 0;
  box-shadow: 0px -1px 5px;
  margin: 0px auto;
}

.header {
  text-align: center;
  font-style: italic;
  color: rgb(165, 42, 42);
  text-shadow: 0px -1px 5px;
}

#starter, #dessert {
  width: 100%;
  color: rgb(165, 42, 42);
  background-color: rgb(245, 245, 220);
}

ins {
  color: red;
  font-weight: bold;
}

.chicken {
  color: rgb(210, 109, 64);
  font-weight: bold;
}

.back-to-top {
  font-weight: bold;
  color: red;
}



